.endgame-container {
  width: 96vw;
  border-radius: 10px;
  background-color: #64b5f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  margin: 30px auto;

  .endgame-title {
    font-size: 56px;
    margin: 20px;
    font-weight: bold;
    color: #008cff;
    @media screen and (max-width: 400px) {
      font-size: 32px;
      margin: 10px;
    }
  }

  .endgame-subtitle {
    font-size: 30px;
    margin: 15px;
    color: white;
    @media screen and (max-width: 400px) {
      font-size: 22px;
      margin: 10px;
    }
  }

  .endgame-btn {
    background-color: #269dff;
    font-size: 30px;
    width: 65%;
    border-radius: 10px;
    outline: none;
    border: none;
    margin: 15px;
    transition: 100ms;
    color: white;
    @media screen and (max-width: 400px) {
      font-size: 18px;
    }

    &:hover {
      background-color: #008cff;
      cursor: pointer;
    }
  }
}
