.container {
  background-color: rgb(125, 201, 150);
  border-radius: 10px;
  flex-grow: 2;
  height: 280px;
  margin-bottom: 20px;
}

.bird-info {
  display: flex;
  padding: 10px;
  justify-content: flex-start;

  align-items: flex-start;

  .bird-img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
  }
  .title-container {
    display: flex;
    margin-left: 30px;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    max-width: 400px;

    .title {
      font-size: 34px;
      margin: 5px;
      font-weight: bolder;

      .sub-title {
        font-size: 16px;
        width: 300px;
      }
    }
  }
}
.bird-audio {
  width: 80%;
  margin-top: 30px;
}
