.container {
  background-color: rgb(125, 201, 150);
  border-radius: 10px;
  flex-grow: 2;
  height: 273px;
}

.bird-info {
  display: flex;
  padding: 10px;
  justify-content: flex-start;

  align-items: flex-start;

  .bird-img {
    height: 150px;
  }
  .title {
    display: flex;
    margin-left: 30px;
    flex-direction: column;
    font-size: 24px;
    font-weight: bold;
  }
}
.bird-audio {
  width: 80%;
  margin-top: 30px;
}
