.custom-button {
  width: 96vw;
  background-color: #64b5f6;
  margin: 10px;
  border-radius: 10px;
  font-size: 28px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 200ms;
  color: white;
  &:hover {
    background-color: #2399fa;
  }
}

.blockedBtn {
  background-color: #98cffc;
  color: white;
  width: 96vw;
  margin: 10px;
  border-radius: 10px;
  font-size: 28px;

  border: none;
  outline: none;
  &:hover {
    background-color: #98cffc;
  }
}
