.bird-list-container {
  flex-grow: 1;
}
.bird-list {
  display: flex;
  flex-direction: column;

  border-radius: 10px;
  background-color: rgb(125, 201, 150);
  margin-right: 20px;
  margin-bottom: 20px;

  .list {
    padding: 10px;
    font-size: 17px;
    list-style: none;
    justify-content: flex-start;
    display: flex;
    cursor: pointer;
    margin: 3px;
    &:hover {
      background-color: rgb(139, 231, 170);
    }
  }
}
span {
  margin: 0px 10px;
}
